@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;

  --colorTextPrimary: #1C2D45;
  --colorTextSecundary: #345B93;

  --colorWhite: #FFFFFF;

  --bgColorDarkBlue: #1C2D45;
  --bgColorGray: #EDF0F2;

  --font-spaceG: "Space Grotesk", serif;
  --font-canadaBig: "Radio Canada Big", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  
}
